header, nav, main, footer, aside { display: block; }
* { box-sizing: border-box; }
body { background-color: #533747;
       font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 960px;
           margin: auto;
		   background-color: #76949F;
		   color: #Blue;
		   box-shadow: 5px 5px 5px #000000;
}
html {
  --error: #b00020;
  --base-spacing: 8px;

  font-size: 10px;

}
section {
  padding: var(--base-spacing);
}

h1 { background-repeat: no-repeat;
     background-color: #76949F;
	 height: 60px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 4.5em;
     padding-left: 320px;
	 text-shadow: 3px 3px 3px #90745D;
	 margin-bottom:0;
}
nav { padding-top: 10px;
      float: left;
      width: 200px;
}
nav ul { list-style-type: none;
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: #000000;
         display: block;
       padding: 29px;
       background-image: url(https://picsum.photos/900/600);
     background-color: #000000;
         background-color: #000000;
	     border-bottom: 1px solid #F00000;
         background-repeat: no-repeat;
         background-position: ;
        background-size: cover;
}
nav a { text-decoration: #000000; }
nav a:link { color: #000000; }
nav a:visited{ color: #000000; }
nav a:hover { color: #3F4632; }


main { background-color: #86BBBD;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;
		  min-height: 300px;
}
main img { float: left;
              padding: 44px;
}

footer { background-color: #76949F;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
table { margin: auto;
        border: 5px solid #76949F;
        width: 600px;
		border-spacing: 0;
}
form {
  flex-direction: column;
  padding: calc(var(--base-spacing) * 2);
}
td, th { padding: 0.5em;
		 border-style: none;
         font-family: Arial, sans-serif;
}

caption { font-family: Verdana, sans-serif;
          font-weight: bold;
          font-size: 1.2em;
          padding-bottom: 0.5em;
}
.altrow { background-color: #76949F; }
header {
padding-top: 10px;
  align-items: center;
  flex-direction: column;
}
header img {
  border-radius: 10%;
  box-shadow: calc(var(--base-spacing) * 0.5) calc(var(--base-spacing) * 0.5)
    var(--base-spacing);
}
@media screen and (min-width: 168px) {
  form > div div {
    max-width: 30vw;
  }
  main { background-color: #86BBBD;
    margin-left: 200px;
    padding: 1px 20px 20px 20px;
min-height: 300px;
}

  input {
    width: 93%;
  }
  #wrapper {
}
  textarea {
    max-width: 800px;
    width: 25vw;
  }

  footer ul {
    justify-content: space-between;
  }

  .flex--tablet {
    display: flex;
  }

  .justify-content-space-between--tablet {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  header {
    flex-direction: row;
  }
  section .btn {
    margin-top: auto;
    max-width: calc(var(--base-spacing) * 15);
    text-align: center;
  }

  .flex--desktop {
    display: flex;
  }


  .flex-column--desktop {
    flex-direction: column;
  }

  .justify-space-around--desktop {
    justify-content: space-around;
  }

  .is-hidden--desktop {
    font-size: 0;
    height: 0;
  }

  .is-shown--desktop {
    font-size: initial;
    height: initial;
  }
}
